Django==3.2.15
djangorestframework==3.12.4
django-filter==2.4.0
django-cors-headers==3.7.0
django-rq==2.3.2
redis==3.5.3
celery==5.2.3
psycopg2-binary==2.9.3
Pillow==9.0.1
numpy==1.22.0
opencv-python==4.5.5.64
PyYAML==6.0
python-ldap==3.4.0
django-auth-ldap==2.2.0
django-compressor==2.4
pyunpack==0.2.1
patool==1.12
av==8.0.3
